<a href="https://colab.research.google.com/github/deepacu1986/DATA-SCIENCE-ASSIGNMENTS/blob/main/stas1assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Estimation And Confidence Intervals

Background
In quality control processes, especially when dealing with high-value items, destructive sampling is a necessary but costly method to ensure product quality. The test to determine whether an item meets the quality standards destroys the item, leading to the requirement of small sample sizes due to cost constraints.
Scenario
A manufacturer of print-heads for personal computers is interested in estimating the mean durability of their print-heads in terms of the number of characters printed before failure. To assess this, the manufacturer conducts a study on a small sample of print-heads due to the destructive nature of the testing process.
Data
A total of 15 print-heads were randomly selected and tested until failure. The durability of each print-head (in millions of characters) was recorded as follows:
1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29
Assignment Tasks
a. Build 99% Confidence Interval Using Sample Standard Deviation
Assuming the sample is representative of the population, construct a 99% confidence interval for the mean number of characters printed before the print-head fails using the sample standard deviation. Explain the steps you take and the rationale behind using the t-distribution for this task.
b. Build 99% Confidence Interval Using Known Population Standard Deviation
If it were known that the population standard deviation is 0.2 million characters, construct a 99% confidence interval for the mean number of characters printed before failure.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.holtwinters import ExponentialSmoothing,SimpleExpSmoothing
from sklearn.metrics import mean_squared_error,mean_absolute_error,mean_absolute_percentage_error
from math import sqrt
import warnings
warnings.filterwarnings('ignore')
import scipy.stats as stats

In [ ]:
series=pd.Series([1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29])
series

0     1.13
1     1.55
2     1.43
3     0.92
4     1.25
5     1.36
6     1.32
7     0.85
8     1.07
9     1.48
10    1.20
11    1.33
12    1.18
13    1.22
14    1.29
dtype: float64

In [ ]:
CI=0.995
n=15
x_bar=series.mean()
std=series.std()
t_critical_99=stats.t.ppf(CI,n-1)
positive_confidence_interval=round(x_bar+(t_critical_99*(std/np.sqrt(n))),3)
negative_confidence_interval=round(x_bar-(t_critical_99*(std/np.sqrt(n))),3)
positive_confidence_interval,negative_confidence_interval

(np.float64(1.387), np.float64(1.09))

In [ ]:
x_bar

np.float64(1.2386666666666666)

In [ ]:
std

0.19316412956959936

In [ ]:
t_critical_99

np.float64(2.976842734370834)

In [ ]:
pstd=0.2
CI=0.995
z_critical_99=stats.norm.ppf(0.995)
positive_confidence_interval=round(x_bar+(z_critical_99*(pstd/np.sqrt(n))),3)
negative_confidence_interval=round(x_bar-(z_critical_99*(pstd/np.sqrt(n))),3)
positive_confidence_interval,negative_confidence_interval

(np.float64(1.372), np.float64(1.106))